.active {
    text-decoration: none;
    color: rgb(38, 38, 38) !important;
    font-weight: 600;
    display: block;
    line-height: 40px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgb(52, 52, 52) !important;
}

.buttonStyle {
    width: 133px;
    height: 36px;
    border-radius: 4px;
    border: none;
}

.inputStyle {
    border-color: #B8B8B8 !important;
}

.inputStyle:focus {
    outline: none;
}

.dropdown-menu {
    margin-left: -135px !important;
}